* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
  }

  
  body {
    font-family: 'Lateef';
    background: #171717;
    position: relative;

    background: url(./assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    backdrop-filter: blur(5px);
  }
  
  img {
    width: 100%;
    object-fit: contain;
  }

  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a{
    text-decoration: none;
  }